body{
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background: #f7f7f7;
}

.container{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.232);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}

h1{
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

label{
  font-weight: bold;
  margin-bottom: 10px;
}

input{
  padding: 8px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

button{
  background-color: rgb(61, 188, 61);
  border: 2px solid rgb(61, 188, 61);
  padding: 0.8rem 1.3rem;
  color: #fff;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  background-color: transparent;
  color: black;
}

.result{
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 24px;
}